<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/contact.css">
    <title>Contact</title>
</head>

<body>
    <section class="grid-container">
        <section class="header">
            <h1>Oh hello there!</h1>
        </section>

    </section>
    <section class="navbar">
        <!-- NAVIGATION BAR -->

        <a href="../index.html">Home</a>
        <a href="#">Our offer</a>
        <a href="#">Why us</a>
        <a href="contact.html" class="current">Contact</a>
    </section>
    <section class="woym">
        <h1>Whats on your mind?</h1>
        <section class="woym-forms">
            <form action="#">
                <label for="email">Your email</label>
                <input type="text" id="email">

                <label for="message">Your message</label>
                <textarea name="message" id="message" placeholder="Dear insurance company..." cols="45"
                    rows="10"></textarea>

                <input type="submit" value="SEND MESSAGE">
            </form>
        </section>

    </section>

    <!-- KARTAN -->
    <section class="kartbox">
        <section class="gulruta">
            <p class="comevisit">Come visit us!</p>
            <p class="address">2219 Griffin Street<br> San Francisco</p>
            <img class="locationmark" src="../images/locationmark.svg" alt="locationmark">
        </section>
    </section>

    <!-- GRÅ BOX -->
    <article class="greybox"></article>
</body>

</html>