
.yta1 {
    grid-area: yta1;
    border: 2px solid black;
    
}

.grid-container {
    display: grid; 
    grid-template:
    'yta1 .'
    'yta1 .';
    background-color: #2196F3;
}

.grid-container > article {
    background: white;
    border: 2px solid black;
}
